project:
  type: book

book:
  title: "DigitalToolkit"
  author: "Data Train"
  date: "12/3/2025"
  chapters:
    - index.qmd
    - intro.qmd
    - summary.qmd
    - part: chapter1.qmd
      chapters: 
        - chapter1-1.qmd
        - chapter1-2.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt

editor: visual

